<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XXGWB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>231A28561DE3E08E007071A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>231A286A1DE3E08F007071A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>231A28751DE3E08F007071A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
